AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  WAFR Automation Tool

  Role for scan access

Resources:
  ScanningRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS:
                - 'arn:aws:iam::<ACCOUNT_ID>:role/wafr-automation-tool-<ENV>-scan-task'
                - 'arn:aws:iam::<ACCOUNT_ID>:role/wafr-automation-tool-<ENV>-billing-info-role'
            Action: 'sts:AssumeRole'
      Policies:
        - PolicyName: WAFRAutomationScanTaskPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: AllowMoreReadOnly
                Effect: Allow
                Action:
                  - account:Get*
                  - aoss:ListCollections
                  - appstream:Describe*
                  - appstream:List*
                  - auditmanager:GetSettings
                  - backup:List*
                  - backup:Get*
                  - bedrock:List*
                  - bedrock:Get*
                  - ce:GetCostAndUsage
                  - ce:GetDimensionValues
                  - cloudtrail:GetInsightSelectors
                  - codeartifact:List*
                  - codebuild:BatchGet*
                  - codebuild:ListReportGroups
                  - cognito-idp:GetUserPoolMfaConfig
                  - compute-optimizer:GetRecommendationSummaries
                  - devops-guru:ListNotificationChannels
                  - dlm:Get*
                  - drs:Describe*
                  - ds:Get*
                  - ds:Describe*
                  - ds:List*
                  - dynamodb:GetResourcePolicy
                  - ec2:GetEbsDefaultKmsKeyId
                  - ec2:GetEbsEncryptionByDefault
                  - ec2:GetSnapshotBlockPublicAccessState
                  - ec2:GetInstanceMetadataDefaults
                  - ecr:Describe*
                  - ecr:GetRegistryScanningConfiguration
                  - elasticfilesystem:DescribeBackupPolicy
                  - forecast:ListForecastExportJobs
                  - geo:ListGeofenceCollections
                  - geo:DescribeGeofenceCollection
                  - geo:ListTrackers
                  - geo:DescribeTracker
                  - glue:GetConnections
                  - glue:GetSecurityConfiguration*
                  - glue:SearchTables
                  - glue:GetMLTransforms
                  - iotsitewise:DescribeDefaultEncryptionConfiguration
                  - lambda:GetFunction*
                  - logs:FilterLogEvents
                  - lightsail:GetRelationalDatabases
                  - macie2:GetMacieSession
                  - macie2:GetAutomatedDiscoveryConfiguration
                  - proton:ListEnvironmentTemplates
                  - proton:GetEnvironmentTemplate
                  - s3:GetAccountPublicAccessBlock
                  - shield:DescribeProtection
                  - shield:GetSubscriptionState
                  - securityhub:BatchImportFindings
                  - securityhub:GetFindings
                  - servicecatalog:Describe*
                  - servicecatalog:List*
                  - ssm:GetDocument
                  - ssm-incidents:List*
                  - states:ListTagsForResource
                  - support:Describe*
                  - tag:GetTagKeys
                  - timestream:DescribeEndpoints
                  - timestream:ListDatabases
                  - voiceid:ListDomains
                  - wellarchitected:List*
                  - wisdom:ListAssistants
                Resource: '*'
              - Sid: AllowAPIGatewayReadOnly
                Effect: Allow
                Action:
                  - apigateway:GET
                Resource:
                  - arn:aws:apigateway:*::*/restapis/*
                  - arn:aws:apigateway:*::*/apis/*
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/SecurityAudit
        - arn:aws:iam::aws:policy/job-function/ViewOnlyAccess
Outputs:
  ScanningRoleArn:
    Description: Scanning Role Arn
    Value: !GetAtt ScanningRole.Arn
