@import 'tailwindcss';
@plugin "daisyui" {
  themes: emerald --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #047aff;
  --color-primary-content: #ffffff;
}
@plugin "@tailwindcss/typography";

/* You can add global styles to this file, and also import other style files */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Reset font inheritance for buttons outside Amplify auth */
:not([data-amplify-authenticator]) .btn,
:not([data-amplify-authenticator]) .input,
.input input {
  font-size: revert;
  line-height: revert;
}
