name: "Linting and Code Formatting check"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
          src: "./backend/src"
